.App{
  background-color: #ececec;
  min-height: calc(100vh - 4em - 6em);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  overflow: hidden;
  padding:3em 2vw;
}

.App > *{
  margin: 1em;
}
